.wpfound_countdown_wrap {
    margin: 30px 0 16px;

}

.wpfound_countdown_timer {
    display: flex;
}

.wpfound_countdown_timer .date {
    background: #1f1e1e;
    color: #fff;
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px;
    border-radius: 5px;
    
}

.wpfound_countdown_timer .wpfound_countdown-single-item {
    padding-right: 14px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #1f1e1e;
    text-transform: capitalize;
}

.wpfound_expire_texxt {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: red;
}

.wpf-product-progress-bar-container {
    margin-bottom: 20px;

}

.wpf-product-progress-bar-wrap {
    height: 12px;
    border-radius: 20px;
    background: #eeeeee;
    width: 100%;
    overflow: hidden;

}

.wpf-product-progress-bar-fill {
    background: #ffb600;
    height: 100%;

}

.offer-title {
    margin-bottom: 12px;

}

/*========================
Product page
========================*/
/* .wpfund-product-page-timer-wrap .wpfound_countdown_timer .date {
    background: none;
    color: #212121;
    width: 50px;
    height: 50px;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #ececec;
} */

.wpfund-product-page-timer-wrap .wpfound_countdown_wrap {
    margin: 15px 0;
}

.wpfund-product-page-timer-wrap p {
    margin-bottom: 12px;

}

.wpfund-product-page-timer-wrap {
    text-align: center;
    padding: 15px 0;

}

.wpfund-product-page-timer-wrap .woo-sctr-progress-bar-message {
    font-size: 15px;
    margin-top: 2px;
}